.button-container{
    display: flex;
    justify-content: flex-end;
    width: 14vw;
    position: absolute;
    top : 10vh;
    right: 3.5vw;
}

.reset-button{
    width: 20px;
    height: 20px;
    color:#005685;
    cursor: pointer;
    margin: 15px 10px;
}

.shortcuts{
    display: flex;
    justify-content: flex-end;
    width: 14vw;
    position: absolute;
    top : 12vh;
    right: 20vw;
    color:#005685;
    text-decoration: underline;
    cursor: pointer;
}

.shortcuts-content{
    background-color: white;
    width:20%;
    padding:10px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 1000;
    position: absolute;
    top: 15vh;
    right: 14vw;
    border : 1px solid #005685;
}

.reset-button.disabled {
    color: #ccc; /* Couleur grise pour indiquer le désactivé */
    cursor: not-allowed;
  }
  